[Unit]
Description=Jenkins Daemon

[Service]
Type=forking
ExecStart=/usr/bin/java -client -noverify -Dhudson.udp=-1 -Dhudson.DNSMultiCast.disabled=1 -D jenkins.InitReactorRunner.concurrency=64 -Djenkins.model.Jenkins.logStartupPerformance=true -Djenkins.install.runSetupWizard=false -Djava.awt.headless=true -Xmx1G -Xms1G -DJENKINS_HOME=/var/lib/jenkins/home -jar /opt/jenkins/jenkins.war --daemon --logfile=/var/log/jenkins/jenkins.log --httpPort=8080 --httpListenAddress=127.0.0.1 -httpsPort=-1 --ajp13Port=-1 --debug=5 --handlerCountMax=100 --handlerCountMaxIdle=20 --accessLoggerClassName=winstone.accesslog.SimpleAccessLogger --simpleAccessLogger.format=combined --simpleAccessLogger.file=/var/log/jenkins/access_log
User=jenkins

[Install]
WantedBy=multi-user.target
